@model studentcourse.Models.StudentsList

    <form asp-controller="Courses" asp-action="Login">
        <p>
            
            學號: <input type="text" name="id" />
            密碼: <input type="text" name="pass" />
        </p>
        <p>
            <input type="submit" value="搜尋" />
        </p>
    </form>
